{% extends "base.html" %}

{% block page_title %}
  {{farmer.first_name}} {{farmer.last_name}}
{% endblock %}


{% block extra_css %}
    <link href="{{url_for('static', filename='libs/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">
{% endblock %}

{% block page_content %}
  <div class="right_col" role="main">
    <div class="">
          <div class="">

            <div class="page-title">
              <div class="title_left">
                <h3>{{farmer.first_name}} {{farmer.last_name}} Profile</h3>
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                {% if farmer.status == 'INACTIVE' %}
                  <div class="x_title">
                    <a href="{{url_for('main.activate_farmer', id=farmer.id)}}" class="btn btn-success pull-right"><i class="fa fa-check-square-o"></i> Activate Farmer</a>
                    <div class="clearfix"></div>
                  </div>
                  {% else %}
                  <div class="x_title">
                    <a href="{{url_for('main.deactivate_farmer', id=farmer.id)}}" class="btn btn-danger pull-right"><i class="fa fa-close"></i> Deactivate Farmer</a>
                    <div class="clearfix"></div>
                  </div>
                {% endif %}
                  

                  
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="img-responsive avatar-view" width="220" height="220" src="{{url_for('static', filename='images/user_avatar.png')}}" alt="Avatar" title="Change the avatar">
                        </div>
                      </div>
                      <h3>{{farmer.first_name}} {{farmer.last_name}}</h3>
                      
                      <ul class="list-unstyled user_data">
                        <li><i class="fa fa-book user-profile-icon"></i> {{farmer.supplier_no}}</li>
                        <li><i class="fa fa-map-marker user-profile-icon"></i> {{farmer.centre}}</li>
                        <li class="m-top-xs">
                          <i class="fa fa-phone user-profile-icon"></i>
                          <a href="#" target="_blank">{{farmer.phone_number}}</a>
                        </li>
                        <li><i class="fa fa-check-square-o user-profile-icon"></i> {{farmer.status}}</li>
                      </ul>

                      <a href="{{url_for('main.edit_farmer', id=farmer.id)}}" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Farmer</a>
                      <br />
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <div class="profile_title">
                        <div class="col-md-6">
                          <h2>{{farmer.first_name}} Collections</h2>
                        </div>
                      </div>
                      <!-- start of user-activity-graph -->
                      <div id="graph_bar" style="width:100%; height:280px;"></div>
                      <!-- end of user-activity-graph -->

                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Recent Collections</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Contract Details</a>
                          </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                             {% if collections %}

                            <!-- start user projects -->
                            <table class="data table table-striped no-margin">
                              <thead>
                                <tr>
                                  <th>Receipt No</th>
                                  <th>Farmer</th>
                                  <th>Produce</th>
                                  <th>Weight (KGs)</th>
                                  <th>Collection Date</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for col in collections %}
                                    <tr>
                                      <td>{{col.receipt_no}}</td>
                                      <td>{{col.collection.first_name}} {{col.collection.last_name}}</td>
                                      <td>{{col.farmer_produce.name}}</td>
                                      <td>{{col.produce_weight}}</td>
                                      <td>{{col.collection_date}}</td>
                                    </tr>
                              {% endfor %}
                              </tbody>
                            </table>

                            {% endif %}
                            <!-- end user projects -->

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                             {% if contracts %}

                            <table class="data table table-striped no-margin">
                              <thead>
                                <tr>
                                  <th>Contract Date</th>
                                  <th>Produce</th>
                                  <th>Price/Kg</th>
                                  <th>Payment Term</th>
                                  <th>Active</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for col in contracts %}
                                    <tr>
                                      <td>{{col.valid_from}}</td>
                                      <td>{{col.produce}}</td>
                                      <td>{{col.price}}</td>
                                        {% if col.payment_term == "DL" %}
                                          <td>DAILY</td>
                                        {% elif col.payment_term == "MN"  %}
                                          <td>MONTHLY</td>
                                        {% else  %}
                                          <td>WEEKLY</td>
                                        {% endif %}
                                      {% if col.active %}
                                        <td><span class="label label-success">Active</span></td>
                                        {% else %}
                                        <td>NOT ACTIVE</td>  
                                      {% endif %}
                                    </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                              
                            {% endif %}
                            <a href="{{url_for('main.new_contract', id=farmer.id)}}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> New Contract</a>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
{% endblock %}

  

{% block extra_js %}
  <!-- raphael.js -->
  <script src="{{url_for('static', filename='libs/raphael/raphael.min.js')}}"></script>
  <!-- morris.js -->
  <script src="{{url_for('static', filename='libs/morris.js/morris.min.js')}}"></script>
  <!-- bootstrap-progressbar -->
  <script src="{{url_for('static', filename='libs/bootstrap-progressbar/bootstrap-progressbar.min.js')}}"></script>
   <!-- bootstrap-daterangepicker -->
  <script src="{{url_for('static', filename='libs/moment/min/moment.min.js')}}"></script>
  <script src="{{url_for('static', filename='libs/bootstrap-daterangepicker/daterangepicker.js')}}"></script>

{% endblock %}