{% extends "base.html" %}

{% block page_title %}
	New Motor Vehicle
{% endblock %}


{% block page_content %}
	        <div class="right_col" role="main">
          <div class="">

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  
                  <div class="x_title">
                    <h2>New App User<small> Create new App User/Grader</small></h2>
                    <a href="{{url_for('main.graders')}}" class="btn btn-primary pull-right"><i class="fa fa-history"></i> Back </a>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="x_content">


                    
                    <form action="" method="post" class="form-horizontal form-label-left">
                    {{ form.csrf_token }}
                    

                    <div class="form-group {% if form.first_name.errors %} has-error {% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form.first_name.label }} <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                         {{ form.first_name(class_="form-control col-md-7 col-xs-12") }}
                         {% if form.first_name.errors %}
                            <span class="help-block"></span>
                            <span id="helpBlock2" class="help-block">{{ form.first_name.errors[0] }}</span>
                        {% endif %}
                      </div>
                    </div>

                    <div class="form-group {% if form.last_name.errors %} has-error {% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-last_name">{{ form.last_name.label }} <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                         {{ form.last_name(class_="form-control col-md-7 col-xs-12") }}
                         {% if form.last_name.errors %}
                            <span class="help-block"></span>
                            <span id="helpBlock2" class="help-block">{{ form.last_name.errors[0] }}</span>
                        {% endif %}
                      </div>
                    </div>
                    
                    <div class="form-group {% if form.phone_number.errors %} has-error {% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-make">{{ form.phone_number.label }} <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                         {{ form.phone_number(class_="form-control col-md-7 col-xs-12") }}
                         {% if form.phone_number.errors %}
                            <span class="help-block"></span>
                            <span id="helpBlock2" class="help-block">{{ form.phone_number.errors[0] }}</span>
                        {% endif %}
                      </div>
                    </div>

                    <div class="form-group {% if form.app_username.errors %} has-error {% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-app_username">{{ form.app_username.label }} <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                         {{ form.app_username(class_="form-control col-md-7 col-xs-12") }}
                         {% if form.app_username.errors %}
                            <span class="help-block"></span>
                            <span id="helpBlock2" class="help-block">{{ form.app_username.errors[0] }}</span>
                        {% endif %}
                      </div>
                    </div>


                    <div class="form-group {% if form.app_password.errors %} has-error {% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-color">{{ form.app_password.label }} <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                         {{ form.app_password(class_="form-control col-md-7 col-xs-12") }}
                         {% if form.app_password.errors %}
                            <span class="help-block"></span>
                            <span id="helpBlock2" class="help-block">{{ form.app_password.errors[0] }}</span>
                        {% endif %}
                      </div>
                    </div>

                

                    <div class="form-group {% if form.role.errors %} has-error {% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-color">{{ form.role.label }} <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                         {{ form.role(class_="form-control col-md-7 col-xs-12") }}
                         {% if form.role.errors %}
                            <span class="help-block"></span>
                            <span id="helpBlock2" class="help-block">{{ form.role.errors[0] }}</span>
                        {% endif %}
                      </div>
                    </div>

                
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button class="btn btn-primary" type="button">Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                    </form>


                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
