{% extends "base.html" %}

{% block page_title %}
  {{farmer.first_name}} {{farmer.last_name}}
{% endblock %}


{% block extra_css %}
    <link href="{{url_for('static', filename='libs/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">
{% endblock %}

{% block page_content %}
  <div class="right_col" role="main">
    <div class="">
          <div class="">

            <div class="page-title">
              <div class="title_left">
                <h3>{{farmer.first_name}} {{farmer.last_name}} Profile</h3>
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <a href="#" class="btn btn-danger pull-right"><i class="fa fa-eye-slash"></i> Deactivate Farmer</a>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="img-responsive avatar-view" width="220" height="220" src="{{url_for('static', filename='images/user_avatar.png')}}" alt="Avatar" title="Change the avatar">
                        </div>
                      </div>
                      <h3>{{farmer.first_name}} {{farmer.last_name}}</h3>

                     <ul class="list-unstyled user_data">
                        <li><i class="fa fa-book user-profile-icon"></i> {{farmer.supplier_no}}</li>
                        <li><i class="fa fa-map-marker user-profile-icon"></i> {{farmer.centre}}</li>
                        <li class="m-top-xs">
                          <i class="fa fa-phone user-profile-icon"></i>
                          <a href="#" target="_blank">{{farmer.phone_number}}</a>
                        </li>
                      </ul>

                      <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Farmer</a>
                      <br />
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <div class="profile_title">
                        <div class="col-md-6">
                          <h2>{{farmer.first_name}} New Contract</h2>
                        </div>
                      </div>
                      

                  <form action="" method="post" class="form-horizontal form-label-left">
                    {{ form.csrf_token }}
                    

                    <div class="form-group {% if form.factory.errors %} has-error {% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{form.factory.id}}">{{ form.factory.label }} <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                         {{ form.factory(class_="form-control col-md-7 col-xs-12") }}
                         {% if form.factory.errors %}
                            <span class="help-block"></span>
                            <span id="helpBlock2" class="help-block">{{ form.factory.errors[0] }}</span>
                        {% endif %}
                      </div>
                    </div>



                    <div class="form-group {% if form.produce.errors %} has-error {% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form.produce.label }} <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                         {{ form.produce(class_="form-control col-md-7 col-xs-12") }}
                         {% if form.produce.errors %}
                            <span class="help-block"></span>
                            <span id="helpBlock2" class="help-block">{{ form.produce.errors[0] }}</span>
                        {% endif %}
                      </div>
                    </div>

                    <div class="form-group {% if form.price.errors %} has-error {% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form.price.label }} <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                         {{ form.price(class_="form-control col-md-7 col-xs-12") }}
                         {% if form.price.errors %}
                            <span class="help-block"></span>
                            <span id="helpBlock2" class="help-block">{{ form.price.errors[0] }}</span>
                        {% endif %}
                      </div>
                    </div>

                    <div class="form-group {% if form.payment_term.errors %} has-error {% endif %}">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form.payment_term.label }} <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                         {{ form.payment_term(class_="form-control col-md-7 col-xs-12") }}
                         {% if form.payment_term.errors %}
                            <span class="help-block"></span>
                            <span id="helpBlock2" class="help-block">{{ form.payment_term.errors[0] }}</span>
                        {% endif %}
                      </div>
                    </div>

                
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button class="btn btn-primary" type="button">Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                  </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
{% endblock %}

  

{% block extra_js %}
  <!-- raphael.js -->
  <script src="{{url_for('static', filename='libs/raphael/raphael.min.js')}}"></script>
  <!-- morris.js -->
  <script src="{{url_for('static', filename='libs/morris.js/morris.min.js')}}"></script>
  <!-- bootstrap-progressbar -->
  <script src="{{url_for('static', filename='libs/bootstrap-progressbar/bootstrap-progressbar.min.js')}}"></script>
   <!-- bootstrap-daterangepicker -->
  <script src="{{url_for('static', filename='libs/moment/min/moment.min.js')}}"></script>
  <script src="{{url_for('static', filename='libs/bootstrap-daterangepicker/daterangepicker.js')}}"></script>

{% endblock %}