{% extends "base.html" %}

{% block page_title %}
  Trips
{% endblock %}


{% block extra_css %}
  <link href="{{url_for('static', filename='libs/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='libs/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='libs/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='libs/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='libs/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
{% endblock %}

{% block page_content %}
          <div class="right_col" role="main">
          <div class="">
                <div class="row">
                   <a href="{{url_for('main.trips')}}" class="btn btn-primary pull-right"><i class="fa fa-history"></i> Back to Trips</a>
                  </div>
          <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title center">Trip info</h2>
                </div>
                <div class="panel-body">
                  <p><strong>TRIP NO:</strong> {{trip.id}}</p>
                  <p><strong>DATE:</strong> {{trip.draft_date.strftime('%d-%m-%Y %H:%M %p')}}</p>
                  <p><strong> ROUTE: </strong> {{trip.route}}</p>
                  <p><strong> GRADER: </strong> {{trip.grader}}</p>
                  <p><strong>VEHICLE: </strong> {{trip.vehicle}}</p>  
                  <p><strong>DRIVER: </strong>{{trip.driver}}</p>
                  <p><strong>ADDED BY: </strong>{{trip.trips_creator}}</p>

                </div>
              </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title center">Trip Collection Info</h2>
                </div>
                <div class="panel-body">
                  <p><strong>DATE:</strong> {{trip.draft_date.strftime('%d-%m-%Y %H:%M %p')}}</p>
                  <p><strong>STATUS:</strong><label class="label label-danger">{{trip.status}}</label> </p>
                  <p><strong>TOTAL COLLECTED:</strong> {{trip.total_weight_collected}}</p>
                  <p><strong>TOTAL RECEIVED: </strong> {{trip.total_weight_received}}</p>
                  <p><strong>VARIANCE: </strong> {{'%0.2f' % variance |float }}</p>

                </div>
              </div>
              </div>

          </div>
               
            <div class="row hidden">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  
                  <div class="x_title">
                    <h2></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="x_content">
                  <h4>Grader: {{trip.grader}} | Driver: {{trip.driver}} | Vehicle: {{trip.vehicle}}</h4> 
                  <div class="ln_solid"></div>
                  <p>
                    {% with messages = get_flashed_messages(with_categories=true)  %}

                      {% if messages %}

                        {% for type, message in messages %}

                          <div class="alert alert-{{type}} alert-dismissible fade in" role="alert">
                            {{message}}.
                          </div>

                        {% endfor %}

                      {% endif %}

                    {% endwith %}
                  </p>


                    



                  </div>

                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>List of farmers Collections</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                  {% if collections %}
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Receipt No</th>
                          <th>Farmer</th>
                          <th>Produce</th>
                          <th>Weight (KGs)</th>
                          <th>Collection Date</th>
                          <th>Reverse</th>
                        </tr>
                      </thead>


                      <tbody>
                  {% for col in collections %}
                    <tr>
                          <td>{{col.receipt_no}}</td>
                          <td>{{col.collection.first_name}} {{col.collection.last_name}}</td>
                          <td>{{col.farmer_produce.name}}</td>
                          <td>{{col.produce_weight}}</td>
                          <td>{{col.collection_date.strftime('%d-%m-%Y %H:%M %p')}}</td>
                          <td>

                          {% if col.invalidated != True and current_user.username == 'dndegwa' %}
                            <a href="{{url_for('main.invalidate_collection', trip_id= trip.id, collection_id=col.id)}}" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i> Invalidate Collection</a>

                            {% elif col.invalidated == True and current_user.username == 'dndegwa' %}
                            <a href="{{url_for('main.validate_collection', trip_id= trip.id, collection_id=col.id)}}" class="btn btn-success btn-xs"><i class="fa fa-remove"></i> Validate Collection</a>
                          {% endif %}


                          
                          </td>
                        </tr>
                  {% endfor %}

                   </tbody>
                    </table>
                    
                  {% endif %}
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Farmers Payment List</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                  {% if payments %}
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Farmer</th>
                          <th>Weight</th>
                          <th>Gross Pay</th>
                          <th>KDB Cess</th>
                          <th>Net Pay</th>
                        </tr>
                      </thead>


                      <tbody>
                  {% for col in payments %}
                    <tr>

                          <td>{{col.farmer}}</td>
                          <td>{{col.weight}}</td>
                          <td>{{col.gross}}</td>
                          <td>{{ col.kdb|round(3,'common') }}</td>
                          <td>{{col.net}}</td>
                        </tr>
                  {% endfor %}

                   </tbody>
                    </table>
                    
                  {% endif %}
                   
                  </div>
                </div>
              </div>
            </div>


            
          </div>
        </div>
{% endblock %}

{% block extra_js %}
  <script src="{{url_for('static', filename='libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/jszip/dist/jszip.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/pdfmake/build/pdfmake.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/pdfmake/build/vfs_fonts.js')}}"></script>
{% endblock %}