{% extends "base.html" %}

{% block page_title %}
	Trips
{% endblock %}


{% block extra_css %}
	<link href="{{url_for('static', filename='libs/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='libs/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='libs/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='libs/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='libs/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
{% endblock %}

{% block page_content %}
	        <div class="right_col" role="main">
          <div class="">

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Trips Listing</h2>
                    <a href="{{url_for('main.new_trip')}}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> New Trip</a>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  <p>
                  	{% with messages = get_flashed_messages(with_categories=true)  %}

            {% if messages %}

              {% for type, message in messages %}

                  <div class="alert alert-{{type}} alert-dismissible fade in" role="alert">
                     {{message}}.
                  </div>

              {% endfor %}

            {% endif %}

          {% endwith %}
                  </p>
                  {% if objects %}
                  	<table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Trip No</th>
                          <th>Trip Date</th>
                          <th>Grader</th>
                          <th>Route</th>
                          <th>Driver</th>
                          <th>Vehicle</th>
                          <th>Status</th>
                          <th>Collected (KGs)</th>
                          <th>Received (KGs)</th>
                          <th>Variance (KGs)</th>
                          <th>Added by</th>
                          <th>Actions</th>
                        </tr>
                      </thead>


                      <tbody>
                  {% for obj in objects %}
                  	<tr>                         
                          <td>{{obj.id}}</td>
                          <td>{{obj.draft_date.strftime('%Y-%m-%d %H:%M %p')}}</td>
                          <td>{{obj.grader}}</td>
                          <td>{{obj.route}}</td>
                          <td>{{obj.driver}}</td>
                          <td>{{obj.vehicle}}</td>
                          <td>{{obj.status}}</td>
                          <td>{{obj.total_weight_collected}}</td>
                          <td>{{obj.total_weight_received}}</td>
                          <td>{{ '{0:0.2f}'.format(obj.total_weight_received - obj.total_weight_collected)  }}</td>
                          <td>{{obj.trips_creator}}</td>
                          <td>
                            <a href="{{ url_for('main.trip_collections', id=obj.id) }}" class="btn btn-success btn-xs"><i class="fa fa-eye"></i> View Collections</a>
                            <a href="{{url_for('main.edit_trip', id=obj.id)}}" class="btn btn-primary btn-xs"><i class="fa fa-check"></i> Complete Trip</a>
                          </td>
                        </tr>
                  {% endfor %}

                   </tbody>
                    </table>
                  	
                  {% endif %}
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}

{% block extra_js %}
	<script src="{{url_for('static', filename='libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/jszip/dist/jszip.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/pdfmake/build/pdfmake.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/pdfmake/build/vfs_fonts.js')}}"></script>
{% endblock %}