{% extends "base.html" %}

{% block page_title %}
	Collections Reporst
{% endblock %}


{% block extra_css %}

  <link href="{{url_for('static', filename='libs/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='libs/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='libs/normalize-css/normalize.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='libs/ion.rangeSlider/css/ion.rangeSlider.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='libs/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css')}}" rel="stylesheet">


{% endblock %}

{% block page_content %}
	        <div class="right_col" role="main">
          <div class="">

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Collections Registry {{start_date.strftime('%d-%m-%Y')}} to {{end_date.strftime('%d-%m-%Y')}}</h2>
                    {# <a href="{{url_for('main.new_farmer')}}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> New Farmer</a> #}
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  <p>
                  	{% with messages = get_flashed_messages(with_categories=true)  %}

            {% if messages %}

              {% for type, message in messages %}

                  <div class="alert alert-{{type}} alert-dismissible fade in" role="alert">
                     {{message}}.
                  </div>

              {% endfor %}

            {% endif %}

          {% endwith %}
                  </p>
                  {% if data %}
                    <table id="datatable-buttons" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Receipt No</th>
                          <th>Farmer No</th>
                          <th>Farmer</th>
                          <th>Produce</th>
                          <th>Weight (KGs)</th>
                          <th>Collection Date</th>
                        </tr>
                      </thead>


                      <tbody>
                  {% for col in data %}
                  	<tr>
                          <td>{{col.receipt_no}}</td>
                          <td>{{col.collection.supplier_no}}</td>
                          <td>{{col.collection.first_name}} {{col.collection.last_name}}</td>
                          <td>{{col.farmer_produce.name}}</td>
                          <td>{{col.produce_weight}}</td>
                          <td>{{col.collection_date}}</td>
                        </tr>
                  {% endfor %}

                   </tbody>
                    </table>
                  	
                  {% endif %}
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}

{% block extra_js %}
	<script src="{{url_for('static', filename='libs/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='libs/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/jszip/dist/jszip.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/pdfmake/build/pdfmake.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/pdfmake/build/vfs_fonts.js')}}"></script>



        <!-- Initialize datetimepicker -->
<script>
    $('#myDatepicker').datetimepicker();
    
    $('#myDatepicker2').datetimepicker({
        format: 'DD.MM.YYYY'
    });
    
    $('#myDatepicker3').datetimepicker({
        format: 'hh:mm A'
    });
    
    $('#myDatepicker4').datetimepicker({
        ignoreReadonly: true,
        allowInputToggle: true
    });

    $('#datetimepicker6').datetimepicker();
    
    $('#datetimepicker7').datetimepicker({
        useCurrent: false
    });
    
    $("#datetimepicker6").on("dp.change", function(e) {
        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
    });
    
    $("#datetimepicker7").on("dp.change", function(e) {
        $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
    });
</script>
    
{% endblock %}