<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Highlands Creamers and Foods- {% block page_title %} Dashboard {% endblock %} </title>

    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{url_for('static', filename='libs/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{url_for('static', filename='libs/nprogress/nprogress.css')}}" rel="stylesheet">

    {% block extra_css %}
    {% endblock %}

    <!-- Custom Theme Style -->
    <link href="{{url_for('static', filename='css/custom.min.css')}}" rel="stylesheet">

    

  </head>
{% block body_tag %}
  <body class="nav-md">
{% endblock %}
  
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><i class="fa fa-leaf"></i> <span> PROMA </span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="{{url_for('static', filename='images/user.png')}}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{current_user.username}}</h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a href="/"><i class="fa fa-home"></i> Dashboard </a></li>
                </ul>
                  <h3>Setup</h3>
                  <ul class="nav side-menu">
                    <!-- <li><a href="{{url_for('main.seasons')}}"><i class="fa fa-sun-o"></i> Seasons </a></li> -->
                    <li><a href="{{url_for('main.factories')}}"><i class="fa fa-bank"></i> Factories </a></li>
                    <li><a href="{{url_for('main.produce')}}"><i class="fa fa-tree"></i> Produce </a></li>
                  </ul>
                  <h3>Farmers</h3>
                  <ul class="nav side-menu">
                    <li><a href="{{url_for('main.routes')}}"><i class="fa fa-location-arrow"></i> Routes </a></li>
                    <li><a href="{{url_for('main.centres')}}"><i class="fa fa-cab"></i> Stations </a></li>
                    <li><a href="{{url_for('main.farmers')}}"><i class="fa fa-group"></i> Farmers </a></li>
                  </ul>
                  <h3>Logistics</h3>
                  <ul class="nav side-menu">
                    <li><a href="{{url_for('main.vehicles')}}"><i class="fa fa-truck"></i> Vehicles </a></li>
                    <li><a href="{{url_for('main.drivers')}}"><i class="fa fa-cab"></i> Drivers </a></li>
                    <li><a href="{{url_for('main.graders')}}"><i class="fa fa-user-md"></i> Graders/App Users </a></li>
                  </ul>
                  <h3>Collections</h3>
                  <ul class="nav side-menu">
                    <li><a href="{{url_for('main.trips')}}"><i class="fa fa-truck"></i> Trips </a></li>
                    <li><a href="{{url_for('main.collections')}}"><i class="fa fa-truck"></i> Collections </a></li>
                  </ul>
                  <h3>Reports</h3>
                  <ul class="nav side-menu">
                    <li><a href="{{url_for('reports.home')}}"><i class="fa fa-line-chart"></i> Reports </a></li>
                  </ul>
              </div>
              

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{{url_for('static', filename='images/user.png')}}" alt="">{{current_user.name}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="{{url_for('auth.logout')}}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        {% block page_content %}
          
        {% endblock %}
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Produce Management. Developed and maintained by <a href="https://www.payconnect.co.ke/">PayConnect</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{{url_for('static', filename='libs/jquery/dist/jquery.min.js')}}"></script>
    <!-- Bootstrap -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{url_for('static', filename='libs/fastclick/lib/fastclick.js')}}"></script>
    <!-- NProgress -->
    <script src="{{url_for('static', filename='libs/nprogress/nprogress.js')}}"></script>

    {% block extra_js %}
    {% endblock %}
    
    <!-- Custom Theme Scripts -->
    <script src="{{url_for('static', filename='js/custom.min.js')}}"></script>
    
  </body>
</html>